body {
	font-family: "montserrat";
	font-size: 14px;
	background-color: rgb(240,240,240);
}

.spacer {
	height: 10em;
}

.spacer2 {
	height: 5em;
	}

#footer {
	background-color: black;
	color: white;
	padding: 3em;
}

#footer a {
	color: white;
}

#footer a:hover {
	color: #5CB85C;
}
	
#wrapper {
	background-image: url("../images/background/background.jpg");
	height: 450px;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1 {
	font-size: 50px;
}

#wrapper h2 {
	font-size: 18px;
	margin-bottom: 1em; 
}

.social a {
	font-size: 24px;
}

.feature p {
	font-weight: 300;
	letter-spacing: 1 px;
	font-family: Helvetica;
	color: black;
}

.feature h3 {
	font-weight: 200;
	letter-spacing: 1 px;
	font-family: "montserrat";
	color: black;
}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color: white;
}

.navbar-brand {
  padding: 20px;
  font-size: 40px;
  padding-left: 1em;
  font-family: "montserrat";
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #5CB85C;
}

.navbar-right {
	font-family: Helvetica; 
	font-size: 14px;
}
.navbar-default .navbar-brand {
  color: black;
}

}
.search {
	font-family: Helvetica; 
	font-size: 14px;
	padding-left: 10em;
	padding-right: 10em;

}
.highlight p {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.highlight h3, h4 {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.highlight img {
	padding-left: 1em; 
	padding-right: 1em;
	padding-top: 1em;
}
.thumbnail {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	background: rgb(240,240,240);
}


.mutuelle {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
	padding: 4em;
}

.mutuelle img{
	border-radius: 10%;
	
}
.newsletter	 {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.newsletter h2 {
	font-family: "montserrat";
}

#subscription{
	font-family: Helvetica;
}

.features {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	padding: 2em;
	background: white;
	border-radius: 5px;
}
