#body {
	font-family: "Ropa Sans";
	font-size: 14px;
}

#footer {
	background-color: black;
	color: white;
	padding-top: 3em;
	padding-bottom: 3em;
}

#footer a {
	color: white;
}

#footer a:hover {
	color: green;
}
.social a {
	font-size: 24px;
}
	
#wrapper {
	background-image: url("../images/background/background.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1 {
	font-size: 50px;
}

#wrapper h2 {
	font-size: 18px;
	margin-bottom: 1em; 
}
.spacer {
	height: 10em;
}
.spacer2 {
	height: 5em;
	}

.feature p, h4 {
	font-weight: 300;
	letter-spacing: 1 px;
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color: white;
}

#navbar-brand {
  padding-top: 20px;
  padding-bottom: 10px;
  color: black; 
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: black;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: black;
}
.navbar-brand {
	font-size: 40px;
	padding-left: 1em;
	font-family: Ropa Sans;

}
.navbar-right {
	font-family: Helvetica; 
	font-size: 14px;
}
.search {
	font-family: Helvetica; 
	font-size: 14px;
	padding-left: 10em;
	padding-right: 10em;

}
.highlight p {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.highlight h3, h4 {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.highlight img {
	padding-left: 1em; 
	padding-right: 1em;
	padding-top: 1em;

}
.vertical-spacer {
	padding-top: 20em;
}
.mutuelle {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.newsletter	 {
	font-family: Helvetica;
	color: black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
#subscription{
	font-family: Helvetica;
}

#proposer {
	background-image: url("../images/background/background.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	color: black;
}

#porposer h1 {
	font-size: 50px;
}