#body {
	background-color: black;
	font-family: "Ropa Sans";
	font-size: 14px;
}

#footer {
	background-color: black;
	color: #aaaaaa;
	padding-top: 3em;
	padding-bottom: 3em;
}

#footer a {
	color: #aaaaaa;
}

#footer a {
	: #aaaaaa;
}

#footer a:hover {
	color: #dddddd;
}
.social a {
	font-size: 30px;
}

#wrapper {
	background-image: url("../images/background/background.jpg");
	height: 400px;
	background-size: cover;
	padding-top: 200px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#bio {
	background-color: black;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#bio p {
	background-color: black;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 15px;
	padding-left: 2em;
}

#bio h2 {
	font-size: 50px; 
	padding-left: 1em;
}
.spacer {
	height: 10em;
}
.spacer2 {
	height: 5em;
	}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 20px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}
.navbar-brand {
	font-size: 40px;
	padding-left: 1em;
	font-family: Ropa Sans;

}
.navbar-right {
	font-family: Helvetica; 
	font-size: 14px


